
<div class="phones-index">
  <% content_for :category_bar do %>
      <div class="category_bar">
        <div class="categories">
          <% if @category == nil %>
              <div>ALL CATEGORIES</div>
          <% else %>
              <div><%= @category.brand_name %></div>
          <% end %>
        </div>
        <div class="search_message">
          <% if @keyword != nil && @keyword != "" %>
              <% if @count == 0 %>
                  <div class="text">NO MATCHES FOUND!</div>
                  <div class="text2">Please try another search.</div>
              <% else %>
                  <% if @count == 1 %>
                      <div class="text">Result for
                        <span class="keyword">"<%= @keyword %>"</span>
                        <span class="count">(<%= @count %>)</span>
                      </div>
                  <% else %>
                      <div class="text">Results for
                        <span class="keyword">"<%= @keyword %>"</span>
                        <span class="count">(<%= @count %>)</span>
                      </div>
                  <% end %>
              <% end %>
          <% end  %>
        </div>
      </div>
  <% end %>
  <div class="row">
    <% @phones.each do |phone| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="col-xs-10 col-xs-offset-1">
            <%= link_to phone_path(phone) do %>
                <img class="phone-img" src="<%= phone.photo_url %>">
            <% end %>
            <div class="phone-name" data-toggle="tooltip" title="<%= phone.name %>">
              <%= link_to phone.name, phone_path(phone) %>
            </div>
            <div class="phone-price"><%= number_to_currency phone.price, precision: 0 %></div>
            <div class="phone-cart">
              <%= link_to add_to_carts_path(phone.id), remote:true do %>
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              <% end %>
              <%= link_to add_to_carts_path(phone.id) do %>
                 <span class="buy">BUY NOW</span>
              <%end %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
  <div class="clearfix"></div>
  <% if @count != 0 %>
      <div class="line"></div>
  <% end  %>
  <div class="pagination-container hidden-xs pull-right">
    <nav>
      <%= paginate @phones, :window => 2, theme: 'large' %>
    </nav>
  </div>
  <div class="pagination-container visible-xs text-center">
    <%= paginate @phones, :window => 2, theme: 'normal' %>
  </div>
  <script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
</div>
