<div class="manage-show">
  <%= form_for [:manages, @category] do |f| %>
      <div class="brand-index col-md-12">
        <div class="row">
          <div class="brand-form col-md-12">
            <div class="col-md-12">
              <% if @category.errors.any? %>
                  <div class="error_explanation">
                      <% @category.errors.full_messages.each do |message| %>
                          <div><%= message %></div>
                      <% end %>
                  </div>
              <% end %>
            </div>
            <div class="brand-name col-md-2">Brand Name</div>
            <div class="col-md-3"><%= f.text_field :brand_name %></div>
            <div class="col-md-1">Visible</div>
            <div class="col-md-1"><%= f.check_box :flag %></div>
          </div>
        </div>
      </div>
      <div class="submit"><%= f.submit %></div>
  <% end %>
</div>
