<div class="forgetpass-page">
  <h4>Forgot your password?</h4>
  <div class="forgetpass-container">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>
        <div class="field">
          <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Your Email' %>
        </div>
        <h5>For security reasons we don't store your password.Your password will be reset and a new one will be sent.</h5>
        <div class="actions">
          <%= f.submit 'Reset Password', class: 'btn pull-right' %>
        </div>

    <% end %>
    <%= link_to "Back to login", new_session_path(resource_name) ,class:"pull left backlogin-link" %><br />

  </div>


</div>
