<div class="manage-index">
  <div class="tools col-md-12">
    <div class="dropdown col-md-2">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Browse
        <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><%= link_to('All Phone', manages_phones_path) %></li>
        <% Category.all.each do |category| %>
            <li><%= link_to(category.brand_name, manages_phones_path(id: category.id)) %></li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-2">
      <%= link_to new_manages_phone_path do %>
          <button type="button" class="btn btn-success">Add new Phone</button>
      <% end %>
    </div>
    <div class="col-md-5">
      <form method="get" action="<%= manages_phones_path %>" id="search">
        <input class="search-term" name="qphone" type="text" size="40" placeholder="Search for phone..." value="<%= @keyword %>"/>
        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        <button class="reset-btn"><i class="fa fa-times" aria-hidden="true"></i></button>
      </form>
    </div>
    <div class="search_message col-md-3">
      <% if @keyword != nil && @keyword != "" %>
          <% if @count == 0 %>
              <div class="text">NO MATCHES FOUND!</div>
          <% else %>
              <% if @count == 1 %>
                  <div class="text">Result for
                    <span class="keyword">"<%= @keyword %>"</span>
                    <span class="count">(<%= @count %>)</span>
                  </div>
              <% else %>
                  <div class="text">Results for
                    <span class="keyword">"<%= @keyword %>"</span>
                    <span class="count">(<%= @count %>)</span>
                  </div>
              <% end %>
          <% end %>
      <% end %>
    </div>
  </div>
  <div class="tables">
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th class="colume-name">Phone Name</th>
        <th class="colume-name">Brand Name</th>
        <th class="colume-name">Price</th>
        <th class="colume-name">Date Created</th>
        <th class="colume-name">Date Modifed</th>
        <th class="colume-name">Visible</th>
        <th colspan="2" class="colume-name">Action</th>
      </tr>
      </thead>
      <tbody>
      <% @phones.each do |phone| %>
          <tr>
            <td class="colume-value"><%= link_to phone.name, phone_path(phone), :target => 'blank' %></td>
            <td><%= phone.category.brand_name %></td>
            <td class="colume-text-center"><%= number_to_currency(phone.price, delimiter: "", format: "%n %u") %></td>
            <td class="colume-text-center"><%= phone.created_at.getlocal.strftime("%d/%m/%Y %H:%M:%S %Z") %></td>
            <td class="colume-text-center"><%= phone.updated_at.getlocal.strftime("%d/%m/%Y %H:%M:%S %Z") %></td>

            <% if phone.flag == true %>
                <td class="colume-checkbox"><input type="checkbox" checked onclick="return false;" readonly="readonly">
                </td>
            <% else %>
                <td class="colume-checkbox">
                  <input type="checkbox" unchecked onclick="return false;" readonly="readonly"></td>
            <% end %>
            <td class="colume-action"><%= link_to manages_phone_path(phone) do %>
                  <button type="button" class="btn btn-success">Preview</button>
              <% end %>
            </td>
            <td class="colume-action"><%= link_to edit_manages_phone_path(phone) do %>
                  <button type="button" class="btn btn-success">Update</button>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="pagination-container hidden-xs pull-right">
    <nav>
      <%= paginate @phones, :window => 2, theme: 'large' %>
    </nav>
  </div>
  <div class="pagination-container visible-xs text-center">
    <%= paginate @phones, :window => 2, theme: 'normal' %>
  </div>
  <script>
    $(function() {
      $('.reset-btn').click(function() {
        debugger;
        var term = $(this).siblings('.search-term');
        term.val('');
      })
    })
  </script>
</div>