<!DOCTYPE html>
<html>
<head>
  <title>Phonestore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= growlyflash_static_notices %>
</head>
<body>
<div class="navigation">
  <div class="left">
    <span class="fa fa-mobile"></span>
    <span class="name">PhoneStore</span>

  </div>
  <div class="right">
    <span class="fa fa-shopping-cart"></span>
    <span class="fa fa-bars"></span>
  </div>
  <div class="clearfix"></div>
</div>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
