<!DOCTYPE html>
<html>
<head>
  <title>Phonestore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= growlyflash_static_notices %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<div class="navigation">
  <div class="left">
    <span class="fa fa-mobile"></span>
    <span class="name">PhoneStore</span>

      <div class="searchh hidden-xs">
        <form method="get" action="/search" id="search">
          <input name="q" type="text" size="40" placeholder="Search..." />
        </form>
      </div>

  </div>
  <div class="right">
    <span class="sign-in-button hidden-xs">
      <a href="https://www.youtube.com/watch?v=W5ONT9iN4Uc" style="color:white;">SIGN IN</a>
    </span>
    <span class="fa fa-shopping-cart hidden-xs"></span>
    <span class="fa fa-bars hidden-xs"></span>

    <span class="fa fa-bars hidden-sm"></span>
    <span class="fa fa-shopping-cart hidden-sm"></span>

  </div>
  <div class="clearfix"></div>
</div>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
