<!DOCTYPE html>
<html>
<head>
  <title>Phonestore</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= growlyflash_static_notices %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

</head>
<body>
<div class="navigation">
  <div class="left">
    <%= link_to root_path, class:"homeclick" do %>
        <i class="fa fa-mobile" aria-hidden="true"></i>
        <span class="name">PhoneStore</span>
    <% end %>
    <!--Thanh Search khong hien thi tren Mobile-->
    <div class="search hidden-xs">
      <form method="get" action="<%= phones_path %>" id="search">
        <input name="q" type="text" size="40" placeholder="Search..."/>
      </form>
    </div>
  </div>
  <div class="right">
    <!--Chi danh cho giao dien Ipad-->
    <div class="signin-signout hidden-xs">
      <% if user_signed_in? %>
          <li>
            <%= link_to('SIGN OUT', destroy_user_session_path, class:"signin-btn", :method => :delete) %>
          </li>
      <% else %>
          <li>
            <%= link_to('SIGN IN', '#', 'data-toggle':"modal", class:"signin-btn", 'data-target':"#myModal" ) %>
            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
              <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-body signin-container-new">
                    <%= render 'devise/sessions/login_form', resource: User.new, resource_name: :user %>
                  </div>
                </div>
              </div>
            </div>
          </li>
      <% end %>
    </div>
    <i class="fa fa-shopping-cart hidden-xs hidden-lg" aria-hidden="true"></i>
    <div class="dropdown">
      <button class="fa fa-bars visible-sm dropdown-toggle" type="button"
              id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      </button>
      <div class="dropdown-menu pull-left" aria-labelledby="dropdownMenu1">
        <div><%= link_to('All categories', root_path, class:'All categories')  %></div>
        <% Category.all.each do |category| %>
            <div><%= link_to( category.brand_name, root_path(id:category.id), class:'')  %></div>
        <% end %>
      </div>
    </div>
    <!--Chi danh cho giao dien Mobile-->
    <div class="dropdown">
      <button class="fa fa-bars visible-xs dropdown-toggle" type="button"
              id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      </button>
      <div class="dropdown-menu pull-left" aria-labelledby="dropdownMenu1">
        <div class="search_for_mobile visible-xs">
          <form class="form" method="get" action="/search" id="search">
            <input class="ss" name="q" type="text" size="40"/>
          </form>
        </div>
        <div role="separator" class="divider">BROWSE</div>
        <div><%= link_to('All categories', root_path, class:'All categories')  %></div>
        <% Category.all.each do |category| %>
            <div><%= link_to( category.brand_name, root_path(id:category.id), class:'')  %></div>
        <% end %>

        <div class="sign-in-sign-out">
          <% if user_signed_in? %>
              <div role="separator" class="divider">Hi <%= current_user.name %></div>
              <div><%= link_to('Profile', new_user_session_path)  %></div>
              <div><%= link_to('Past Order', new_user_session_path)  %></div>
              <div><%= link_to('Sign out', destroy_user_session_path, :method => :delete) %></div>
          <% else %>
              <div role="separator" class="divider">GUEST</div>
              <div><%= link_to('Sign in', new_user_session_path)  %></div>
              <div><%= link_to "Sign up",new_user_registration_path %></div>
          <% end %>
        </div>
      </div>
    </div>
    <i class="fa fa-shopping-cart hidden-sm hidden-md" aria-hidden="true"></i>
    <!--Chi danh cho giao dien Destop(Large)-->
    <span class="dropdown">
      <button class="browse hidden-xs hidden-sm" type="button"
              id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">BROWSE
      </button>
      <div class="dropdown-menu pull-left" aria-labelledby="dropdownMenu1">
        <div><%= link_to('All categories', root_path, class:'All categories')  %></div>
        <% Category.all.each do |category| %>
            <div><%= link_to( category.brand_name, root_path(id:category.id), class:'')  %></div>
        <% end %>
      </div>
    </span>
  </div>
  <div class="clearfix"></div>
</div>

<div class="container">
  <%= yield %>
</div>
<div class="bottom">
  <h1>Follow Us</h1>
  <div class="social-li">
    <a target="_blank" href="https://www.facebook.com/">
      <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
    <a target="_blank" href="https://www.twitter.com/">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
    <a target="_blank" href="https://www.plus.google.com/">
      <i class="fa fa-google-plus" aria-hidden="true"></i>
    </a>
    <a target="_blank" href="https://www.pinterest.com/">
      <i class="fa fa-pinterest" aria-hidden="true"></i>
    </a>
    <a target="_blank" href="https://www.instagram.com/">
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
    <a target="_blank" href="https://www.youtube.com/">
      <i class="fa fa-youtube" aria-hidden="true"></i>
    </a>
  </div>
  <h2>2016 © PhoneStore</h2>
</div>
</body>
</html>

